.text-container {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

.text-container h1 {
  background-image: linear-gradient(to right, #b3b6eb,#e98a98);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  align-self: center;
  font-size: 5em;
}
